html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;
  background: #eff1f2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label,
legend,
.button {
  color: #000;
}
label {
  margin-right: 25px;
}
fieldset {
  margin: 0;
  padding: 0;
}

small {
  color: white;
  margin-right: 40px;
  font-size: 1em;
}

iframe{
  margin-top: 40px;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grid{
  width:100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
  height: 150px;
}

p{
  width:100%;
}

.button {
  padding: 15px 35px;
  margin: 0 3% 6% 2%;
  border: 2px solid #000;
  background: transparent;
  color: #000;
}

.choice-button{
  margin: 0 0 6% 6%;
}

.radio_grp_set,
fieldset {
  border: none;
  display: inline;
  margin-right: 50px;
}

.radio_row_item {
  display: inline;
}

.question_row_item,
.question_div {
  padding: 25px 35px;
}
.error{
  color:white;
  background: red;
  padding: 15px 20px;
  font-weight: 600;
}

.divider {
  display: block;
  background: #131313;
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

label,
legend {
  margin-bottom: 25px;
  width: 100%;
  font-size: 1.2em;
}

li{
  margin-bottom: 2%;
}

img{
  height:100px;
  margin: 0 35px;
}

.title{
  font-size: 1.5em; 
  font-weight: 400;
  width: 60%;
  text-align: center;
  margin: 50px 0;
  color: #0f4d92;
  font-family: 'Trade Gothic W01 Light',Arial,Helvetica,sans-serif;
}

.description{
  font-size: 1em;
  font-weight: 700;
}

/* Radio Buttons */

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  padding-right: 20px;
  cursor: pointer;
  line-height: 20px;
  display: inline;
  color: #000;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #666;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* Checkboxes */

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  left: -9999px;
}

[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */

[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */

[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */

[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

[type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* disabled checkbox */

[type='checkbox']:disabled:not(:checked) + label:before,
[type='checkbox']:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type='checkbox']:disabled:checked + label:after {
  color: #999;
}

[type='checkbox']:disabled + label {
  color: #aaa;
}

/* accessibility */

[type='checkbox']:checked:focus + label:before,
[type='checkbox']:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */

label:hover:before {
  border: 2px solid #4778d9 !important;
}


/* Select */

.select-wrapper {
  position: relative;
  width: 100%;
}
.select-wrapper::after {
  color: black;
  content: '▾';
  margin-right: 10px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 20px;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  border: solid 1px black ;
  border-radius: 0;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-size: 18px;
}
.select:focus {
  color: black;
}
.select::-ms-expand {
  display: none;
}

@media(max-width:768px){
  .title{
    padding: 0;
  }
  .error{
    margin-right: 50px;
  }
  .choice-button{
    margin: 0 0 6% 9%
  }
}

@media(max-width:430px){
  .select {
    font-size: 13px;
  }
  .button{
    padding: 20px 25px;
  }

  .choice-button{
    margin: 0 0 6% 11%
  }

  .title{
    width: 90%;
  }

}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}