.ContactItem {
    padding: 2% 0 2% 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    align-items: space-between;
}


.contact_p {
    display: inline;
    min-width: 9%;
    font-size: 1vw;
    margin: 0 1em;
    color: black;
    text-align: left;
}

.label{
    margin: 0;
}

.label::before{
    left: 30px !important; 
    top: -5px !important; 
}

.label::after{
    left: 35px !important; 
    top: 0px !important; 
}
