.questionContainer {
    width: 60%;
    background: white;
    border-top: solid 15px #0f4d92;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 40px;
  }

  @media(max-width:700px){
    .questionContainer{
      width: 90%;
      padding: 40px;
    }
  }


  
  
  