.questionContainer {
    width: 100%;
    background: #48bce8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .buttonContainer{
    padding-top: 35px;
    padding-left: 25px;
  }
  
  
  